---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a 
	href={href} 
	class:list={[
		"text-text-light hover:text-primary-light dark:text-text-dark dark:hover:text-primary-dark transition-colors font-medium",
		{ "font-bold underline underline-offset-4": isActive },
		className
	]} 
	{...props}
>
	<slot />
</a>
